.raise {
    color: #ffa260;
    transition: 0.25s;
    font: 300 1em 'Fira Sans', sans-serif;
    background: none;
    border: 2px solid;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
}

.raise:hover,
.raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em #e5ff60;
    -webkit-transform: translateY(-0.25em);
    transform: translateY(-0.25em);
    border-color: #e5ff60;
    color: #fff;
}